<h1>Add a comment!</h1>
<form action="/comments" method="POST">
  <%= auth_token %>
  <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= parent %>">
  <label for="comment_content">Content: </label><br />
  <textarea name="comment[content]" id="comment_content"><%= @comment.content %></textarea><br /><br />


  <input type="submit" value="Submit!" />
</form>
