.tab-list {
  display: flex;
  justify-content: flex-start;

  padding: 0 20px 0 20px;
  margin-bottom: 0px;
}

.tab {
  list-style: none;
  background-color: #cccccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  margin-right: 2px;
  padding: 10px 20px 0px 6px;
}

.active-tab{
  background-color: #e6e6e6;
}

.tab h1 {
  font-size: 16px;

  margin: 0;
}

.tab-content {
  background-color: #e6e6e6;

  margin: 0px 20px 0px 20px;
  padding: 8px;
}
