<h1><%= @sub.title %></h1>

<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
    <td>
      <%= @sub.title %>
    </td>
    <td>
      <%= @sub.description %>
    </td>
  </tr>
</table>
